/*
 * admin style sheet
 * Author: peanuts6
 * Create: 2018-05-07
**/

html,body{
    font-family:BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",SimSun,sans-serif;
}

.eyepage-head{
    height: 50px;
    background-color: #039BE5;
}
.navbar-brand{
    font-size:1rem;
}
.btn-headright{
    height:50px;
}
.btn-headright .dropdown-toggle{
    color: #fff;
    line-height: 50px;
    padding-top:0;
    padding-bottom:0;
    border-radius: 0;
    font-size:.875rem;
}
.btn-headright .dropdown-toggle:hover {
    background: #23ace3 !important;
}
.eyepage-head .dropdown-toggle{
    font-size:.875rem;
}
.eyepage-head .dropdown-menu{
    font-size:.875rem;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}



.eyepage-body{
    margin-top:50px;
}

.eyepage-left{
    position: fixed;
    left:0;
    top:50px;
    padding-bottom: 50px;
    width: 180px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: #22282e !important;
}
.eyepage-left a,.eyepage-left a:link{
    color: #f0f0f0;
}
.eyepage-left a:hover{
    color: #fff;
}
.eyepage-left .nav-item{
    width:100%;
    border-top: #f0f0f0;
    border-bottom: #f0f0f0;
    /*border:1px solid #e0e0e0;*/
}
.eyepage-left .nav-link{
    font-size:.875rem;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.eyepage-left .nav-link.nav-container{
    background: #394555;
    border-bottom: 1px solid #222;
}
.eyepage-left .nav-link.nav-container .nav{
    border-top: 1px solid #222;
}
.eyepage-left .nav-link span{
    margin-left:5px;
}
.eyepage-left .sidebar-collapse{
    color: #343a40;
    height: 40px;
    padding: 10px 0;
    text-align: right;
    background-color: #394555;
    border-bottom: 1px solid #222;
}
.eyepage-toggle{
    margin-right: .75rem;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align:center;
}

.eyepage-right{
    width:100%;
    margin-left: 180px;
}

.eyepage-body.collapsed .eyepage-left{
    width: 50px;
}
.eyepage-body.collapsed .eyepage-right{
    margin-left:50px;
}
.eyepage-body.collapsed .eyepage-left .nav-link span{
    display: none;
}
.eyepage-body.collapsed .eyepage-left .nav-link.dropdown-toggle::after{
    display:none;
}

#sidebar-stacked{
    /*margin-top:30px;*/
}

.myalert{
    margin-left:180px;
    margin-right:180px;
}






/* media */
@media (max-width: 575.98px) {
    .eyepage-body .eyepage-left{
        width: 50px;
    }
    .eyepage-body .eyepage-right{
        margin-left: 50px;
    }
    .eyepage-body .eyepage-left .nav-link span{
        display:none;
    }
    .eyepage-body .eyepage-left .nav-link.dropdown-toggle::after{
        display:none;
    }
}

