<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mycat.eye.agent.mapper.MycatClusterMapper">
  <resultMap id="BaseResultMap" type="io.mycat.eye.agent.bean.MycatCluster">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cluster_name" jdbcType="VARCHAR" property="clusterName" />
    <result column="cluster_host" jdbcType="VARCHAR" property="clusterHost" />
    <result column="cluster_port" jdbcType="INTEGER" property="clusterPort" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_update_time" jdbcType="BIGINT" property="lastUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cluster_name, cluster_host, cluster_port, create_time, last_update_time
  </sql>
  <select id="selectByExample" parameterType="io.mycat.eye.agent.bean.MycatClusterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mycat_cluster
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mycat_cluster
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mycat_cluster
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.mycat.eye.agent.bean.MycatClusterExample">
    delete from mycat_cluster
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.mycat.eye.agent.bean.MycatCluster">
    insert into mycat_cluster (id, cluster_name, cluster_host, 
      cluster_port, create_time, last_update_time
      )
    values (#{id,jdbcType=INTEGER}, #{clusterName,jdbcType=VARCHAR}, #{clusterHost,jdbcType=VARCHAR}, 
      #{clusterPort,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{lastUpdateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.mycat.eye.agent.bean.MycatCluster">
    insert into mycat_cluster
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clusterName != null">
        cluster_name,
      </if>
      <if test="clusterHost != null">
        cluster_host,
      </if>
      <if test="clusterPort != null">
        cluster_port,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clusterName != null">
        #{clusterName,jdbcType=VARCHAR},
      </if>
      <if test="clusterHost != null">
        #{clusterHost,jdbcType=VARCHAR},
      </if>
      <if test="clusterPort != null">
        #{clusterPort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.mycat.eye.agent.bean.MycatClusterExample" resultType="java.lang.Long">
    select count(*) from mycat_cluster
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mycat_cluster
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clusterName != null">
        cluster_name = #{record.clusterName,jdbcType=VARCHAR},
      </if>
      <if test="record.clusterHost != null">
        cluster_host = #{record.clusterHost,jdbcType=VARCHAR},
      </if>
      <if test="record.clusterPort != null">
        cluster_port = #{record.clusterPort,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mycat_cluster
    set id = #{record.id,jdbcType=INTEGER},
      cluster_name = #{record.clusterName,jdbcType=VARCHAR},
      cluster_host = #{record.clusterHost,jdbcType=VARCHAR},
      cluster_port = #{record.clusterPort,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      last_update_time = #{record.lastUpdateTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.mycat.eye.agent.bean.MycatCluster">
    update mycat_cluster
    <set>
      <if test="clusterName != null">
        cluster_name = #{clusterName,jdbcType=VARCHAR},
      </if>
      <if test="clusterHost != null">
        cluster_host = #{clusterHost,jdbcType=VARCHAR},
      </if>
      <if test="clusterPort != null">
        cluster_port = #{clusterPort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.mycat.eye.agent.bean.MycatCluster">
    update mycat_cluster
    set cluster_name = #{clusterName,jdbcType=VARCHAR},
      cluster_host = #{clusterHost,jdbcType=VARCHAR},
      cluster_port = #{clusterPort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      last_update_time = #{lastUpdateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>