<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.mycat.eye.agent.mapper.MysqlWeakPasswordMapper" >
  <resultMap id="BaseResultMap" type="io.mycat.eye.agent.bean.MysqlWeakPassword" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="plaintext" property="plaintext" jdbcType="VARCHAR" />
    <result column="ciphertext" property="ciphertext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plaintext, ciphertext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="io.mycat.eye.agent.bean.MysqlWeakPasswordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mysql_weak_password
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mysql_weak_password
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mysql_weak_password
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="io.mycat.eye.agent.bean.MysqlWeakPasswordExample" >
    delete from mysql_weak_password
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.mycat.eye.agent.bean.MysqlWeakPassword" useGeneratedKeys="true" keyProperty="id" >
    insert into mysql_weak_password (id, plaintext, ciphertext
      )
    values (#{id,jdbcType=BIGINT}, #{plaintext,jdbcType=VARCHAR}, #{ciphertext,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.mycat.eye.agent.bean.MysqlWeakPassword" useGeneratedKeys="true" keyProperty="id" >
    insert into mysql_weak_password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="plaintext != null" >
        plaintext,
      </if>
      <if test="ciphertext != null" >
        ciphertext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="plaintext != null" >
        #{plaintext,jdbcType=VARCHAR},
      </if>
      <if test="ciphertext != null" >
        #{ciphertext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.mycat.eye.agent.bean.MysqlWeakPasswordExample" resultType="java.lang.Integer" >
    select count(*) from mysql_weak_password
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mysql_weak_password
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.plaintext != null" >
        plaintext = #{record.plaintext,jdbcType=VARCHAR},
      </if>
      <if test="record.ciphertext != null" >
        ciphertext = #{record.ciphertext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mysql_weak_password
    set id = #{record.id,jdbcType=BIGINT},
      plaintext = #{record.plaintext,jdbcType=VARCHAR},
      ciphertext = #{record.ciphertext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.mycat.eye.agent.bean.MysqlWeakPassword" >
    update mysql_weak_password
    <set >
      <if test="plaintext != null" >
        plaintext = #{plaintext,jdbcType=VARCHAR},
      </if>
      <if test="ciphertext != null" >
        ciphertext = #{ciphertext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.mycat.eye.agent.bean.MysqlWeakPassword" >
    update mysql_weak_password
    set plaintext = #{plaintext,jdbcType=VARCHAR},
      ciphertext = #{ciphertext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>